@use "../../scss/" as *;
.movies {
  padding: 1rem 4rem;
  .display-movies {
    @include grid(6, 18px);
  }
  h2 {
    text-align: center;
    font-size: 33px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    color: rgba($color: #fff, $alpha: 0.8);
  }
  &__search {
    margin-bottom: 3rem;
    width: inherit;
    @include flex(center, center, 0px);
    &__form {
      padding-left: 15rem;
      width: 100%;
      display: block;
      input {
        @include btn-style(white, rgba($color: #0000, $alpha: 0.6));
        padding: 0.9rem 2.6rem;
        font-size: 22px;

        width: 60%;
        letter-spacing: 1.5px;
        border-radius: 15px 0 0 15px;
      }
      button {
        @include btn-style(white, red);
        padding: 0.9rem;
        font-size: 22px;
        font-weight: bold;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
      }
    }
  }
  @include tablet {
    .display-movies {
      @include grid(3, 15px);
      h2 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 3rem;
        color: rgba($color: #fff, $alpha: 0.8);
      }
    }
    &__search {
      margin-bottom: 3rem;
      width: inherit;
      @include flex(center, center, 0px);
      &__form {
        padding-left: 5rem;
        width: 100%;
        display: block;
        input {
          @include btn-style(white, rgba($color: #0000, $alpha: 0.6));
          padding: 0.9rem 2.6rem;
          font-size: 22px;

          width: 80%;
          letter-spacing: 1.5px;
          border-radius: 15px 0 0 15px;
        }
        button {
          @include btn-style(white, red);
          padding: 0.9rem;
          font-size: 22px;
          font-weight: bold;
          border-radius: 0 15px 15px 0;
          cursor: pointer;
        }
      }
    }
  }
  @include mobile {
    .display-movies {
      @include grid(1, 15px);
    }
    h2 {
      text-align: center;
      font-size: 25px;
      margin-bottom: 3rem;
      color: rgba($color: #fff, $alpha: 0.8);
    }
    &__search {
      margin-bottom: 3rem;
      width: inherit;
      @include flex(center, center, 0px);
      &__form {
        padding-left: 2rem;
        width: 100%;
        display: block;
        input {
          @include btn-style(white, rgba($color: #0000, $alpha: 0.6));
          padding: 0.8rem 1.2rem;
          font-size: 17px;

          width: 80%;
          letter-spacing: 1.2px;
          border-radius: 15px 0 0 15px;
        }
        button {
          @include btn-style(white, red);
          padding: 0.8rem;
          font-size: 17px;
          font-weight: bold;
          border-radius: 0 15px 15px 0;
          cursor: pointer;
        }
      }
    }
  }
}
